body {
    background-color: #ececec;
    width: 1024px;
    margin: auto;
    margin-top: -20px;
}

/*hero*/
img {
    height: 590px;
    width: 1024px;
    z-index: 5;
    position: absolute;
}

/*menu bar*/

.menu_bar {
    background-color: #ffffff;
    height: 50px;
    width: 1024px;
    z-index: 10;
    position: relative;
    top: 15px;
    -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
}

h1 {
    font-family: ff-enzo-web, sans-serif;
    font-weight: lighter;
    position: relative;
    top: 12px;
    left: 25px;
}
nav {

}

nav ul {
    list-style: none;
}

nav ul li {

}

nav ul ul {

}

nav ul li a {
    font-family: ff-enzo-web, sans-serif;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    float: left;
    position: relative;
    left: 600px;
    top: 18px;
}

/*Book Now Button*/

.center_button {
    background-color: #6C7A89;
    width: 189px;
    height: 75px;
    z-index: 15;
    position:relative;
    top: 505px;
    left: 417.5px;
    border: solid 4px rgba(108, 122, 137, .5);
    border-radius: 2px;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
}

.book_now {
    font-family: ff-enzo-web, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ececec;
    display:-ms-flexbox;
    -ms-flex-pack:center;
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    position: relative;
    top: 25px;
}

.center_button a:hover {
}

