body {
    background-color: #ececec;
    width: 1024px;
    margin: auto;
    margin-top: -20px;
}

/*hero*/
img {
    height: 590px;
    width: 1024px;
    z-index: 5;
    position: absolute;
    float: left;
}

/*menu bar*/

.menu_bar {
    background-color: #ffffff;
    height: 50px;
    width: 1024px;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
    position: relative;
    top: 30px;
    float: left;
}

h1 {
    font-family: ff-enzo-web, sans-serif;
    font-weight: lighter;
    position: relative;
    left: 25px;
    top: -5px;
    float: left;
}
nav {

}

nav ul {
    list-style: none;
}

nav ul li {

}

nav ul ul {

}

nav ul li a {
    font-family: ff-enzo-web, sans-serif;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    float: left;
    position: relative;
    left: 600px;
    top: 18px;
}

/*Book Now Button*/

.center_button {
    background-color: #6C7A89;
    width: 189px;
    height: 75px;
    z-index: 15;
    position:relative;
    top: 505px;
    left: 422px;
    border: solid 4px rgba(108, 122, 137, .5);
    border-radius: 2px;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;

    font-family: ff-enzo-web, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    color: #ececec;
    display:-ms-flexbox;
    -ms-flex-pack:center;
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    float: left;
}


a.button {
    text-decoration: none;
    float: left;
}

.center_button a:hover {
}


.box_left {
    background-color: #6C7A89;
    width: 301px;
    height: 237px;
    position: absolute;
    top: 667px;
    z-index: 25;
    float: left;
    margin-left: 40px;

}

.h3_left {
}

.img_left img {
    width: 266px;
    height: 180px;

}

.features h3 {
    margin-left: 18px;
    font-size: 18px;
    font-family: ff-enzo-web, sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    color: #ececec;

}


.box_mid {
    background-color: #6C7A89;
    width: 301px;
    height: 237px;
    position: absolute;
    top: 667px;
    z-index: 30;
    margin-left: 362px;
}

.h3_mid {
}

.img_mid {
}

.text_mid {
}


.box_right {
    background-color: #6C7A89;
    width: 301px;
    height: 237px;
    position: absolute;
    top: 667px;
    z-index: 35;
    margin-left: 683px;
}

.h3_right {
}

.img_right {
}

.text_right {
}


.big_box {
    margin-left: 40px;
    height: 184px;
    width: 944px;
    background-color: #6C7A89;
    float: left;
    position: absolute;
    top: 1146px;
}

.big_box_left {
}

.input {
}

.big_box_left_h3 {
}


.big_box_right {
}